.header {
    display: flex;
    background-color: lightslategrey;

    /*padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;*/

    justify-content: flex-end;

    height: 40px;
}

.credentials-box {
    display: flex;

    padding: 10px;
    margin-top: 50px;

    background-color: rebeccapurple;
}

.credentials-input {
    padding: 5px;
    margin: 5px;
}

.credentials-button {
    right: 0px;

    width: 50%;

    margin: 2px;
}

.button {
    padding: 0px 6px;
    background-color: dodgerblue;

    height: 100%;

    display: flex;
    /*text-align: center;
    justify-content: center;*/
    align-items: center;
}
